<section class="container">
  <div class="wave"></div>
  <div class="login">
    <p-card header="Sign in" class="login-container">
      <form class="login-form" [formGroup]="loginForm">
        <div class="login-form__input">
          <label for="username">Username</label>
          <input
            type="text"
            pInputText
            id="username"
            aria-labelledby="username"
            formControlName="username"
            placeholder="Your username"
          />
        </div>
        <div class="login-form__input">
          <label for="username">Password</label>
          <input
            type="password"
            pInputText
            id="password"
            aria-labelledby="password"
            formControlName="password"
            placeholder="Your password"
          />
        </div>
        <p-button (click)="doLogin()" label="Sign in"></p-button>
      </form>
    </p-card>
  </div>
</section>
