.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

  &-container {
    z-index: 1;
    width: 20rem;
  }
  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    &__input {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-bottom: 1rem;
    }
  }
}

.container {
  position: relative;
  background: #495057;
  height: 50vh;
}

.wave {
  position: absolute;
  height: 70px;
  width: 100%;
  background: #495057;
  bottom: 0;
}

.wave::before,
.wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.wave::before {
  width: 50%;
  height: 109%;
  background-color: #fff;
  right: -1.5%;
  top: 60%;
}
.wave::after {
  width: 50%;
  height: 100%;
  background-color: #495057;
  left: -1.5%;
  top: 40%;
}
